.card-image {
    width: 100%;
}

.card-image img {
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

.card-thumbnails {
    overflow-x: auto;
    white-space: nowrap;
}

.card-thumbnails img {
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.card-thumbnails img:hover,
.card-thumbnails img.active {
    border-color: blue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 20px;
}

.product-details {
    margin-bottom: 20px;
}
.selected {
    border-color: blue !important;
    color: blue;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.image-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.image-container img {
    max-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.image-container p {
    margin: 0;
    max-width: calc(100% - 220px);
}

