.card-image {
    width: 100%;
}

.card-image img {
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

.card-thumbnails {
    overflow-x: auto;
    white-space: nowrap;
}

.card-thumbnails img {
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.card-thumbnails img:hover,
.card-thumbnails img.active {
    border-color: blue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 20px;
}

.product-details {
    margin-bottom: 20px;
}
.selected {
    border-color: blue !important;
    color: blue;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.image-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.image-container img {
    max-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.image-container p {
    margin: 0;
    max-width: calc(100% - 220px);
}
.video-container {
    width: 450px; /* Set width */
    height: 250px; /* Set height */
    border: 2px solid #ccc; /* Set border color and width */
    border-radius: 8px; /* Optional: Add rounded corners */
    overflow: hidden; /* Hide any overflow content */
    position: relative; /* Ensure the aspect ratio is maintained */
}

.video-container iframe {
    position: absolute; /* Position the iframe */
    width: 100%; /* Make iframe fill the container */
    height: 100%; /* Make iframe fill the container */
    border: none; /* Remove border from the iframe itself */
}
